.contact {
    &-head {
        max-width: 720px;
        margin: 0 auto;
        line-height: 5rem;
        letter-spacing: -0.04em;
        padding: 272px 0px 144px 0px;

        @include xs {
            padding: 209px 24px 80px 24px;
        }

        h1 {
            @include xs {
                font-size: 2rem;
                line-height: 3rem;
                letter-spacing: -0.02em;
            }
        }
    }

    &-container {
        max-width: 720px;
        margin: 0 auto;
        @extend %flex;
        flex-direction: column;
        margin-bottom: 120px;

        @include xs {
            padding: 0 24px;
        }

        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            transition: 0.3s;
            font-size: 17px;
            color: $black-40;
            margin-right: 64px;
            line-height: 32px;
            position: relative;
            padding-bottom: 8px;
            @extend %flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            @include xs {
                margin-right: 32px;
            }

            h3 {
                font-size: 1.5rem;
                line-height: 2.5rem;
                letter-spacing: -0.02em;

                @include xs {
                    font-size: 1.25rem;
                    line-height: 2.25rem;
                    letter-spacing: -0.01em;
                    width: max-content;
                    text-align: left;
                }
            }

            br {
                display: none;

                @include xs {
                    display: block;
                }
            }
        }

        .tab button.active::after {
            content: "";
            width: 4px;
            height: 4px;
            background: $red;
            position: absolute;
            bottom: 0px;
            right: 50%;

            @include xs {
                right: 50%;
            }
        }

        .tab button.active {
            color: $red;
        }

        .tabcontent {
            margin-top: 112px;

            @include xs {
                margin-top: 89px;
            }

            form {
                font-family: "Objectivity-Medium";
                div {
                    position: relative;
                    margin-top: 96px;

                    @include xs {
                        margin-top: 32px;
                    }

                    &:first-child {
                        margin-top: 0;
                    }
                }
            }

            input,
            label {
                transition: all 0.2s;
                letter-spacing: -0.02em;
                padding-left: 8px;
            }
            input {
                width: 100%;
                border: none;
                border-bottom: 1px solid $black-40;
                outline: none;
                color: $black;
                padding: 0px 0 24px 0;
                font-size: 2.75rem;
                line-height: 2.75rem;
                padding-left: 8px;
                position: relative;
                z-index: 2;
                background: transparent;

                @include xs {
                    padding: 0px 0 8px 8px;
                    font-size: 1.125rem;
                    line-height: 2.125rem;
                    letter-spacing: 0.01em;
                    font-family: "Objectivity-Regular";
                }
            }

            label {
                position: absolute;
                top: 0px;
                left: 0;
                color: $black;
                opacity: 0.3;
                line-height: 2.75rem;
                font-size: 2.75rem;
                z-index: 1;

                @include xs {
                    font-size: 1.125rem;
                    line-height: 2.125rem;
                }
            }

            input:focus + label,
            input:valid + label {
                top: -42px;
                font-size: 1.25rem;
                line-height: 2rem;
                font-family: "Objectivity-Bold";
                opacity: 0.3;

                @include xs {
                    font-size: 0.75rem;
                    line-height: 1.25rem;
                    font-family: "Objectivity-Medium";
                    top: -21px;
                }
            }

            #join-submit, #project-submit {
                margin-top: 80px;
                @extend %flex;
                flex-direction: row;
                justify-content: flex-start;

                button{
                    border: none;
                    background: transparent;
                
                .cta{
                    background: $black;
                    padding: 20px 68px 20px 32px;
                    box-shadow: 0px 16px 64px $black-16;
                    margin-right: 48px;

                    @include xs{
                        margin-right: 0;
                    }
                }
            }

                @include xs {
                    margin-top: 64px;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;

                }

                .success{
                    @extend %flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    color: $black-40;
                    margin-top: 0;
                    align-items: center;

                    @include xs{
                        margin-top: 30px;
                    }
                    
                    img{
                        margin-right: 16px;
                    }
                }
            }
        }
    }

    &-bg {
        background-image: url("../../../img/build/contact/contact-bg.svg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 700px;

        @include xs {
            height: 719px;
        }
    }

    &-sayhello {
        @extend %flex;
        flex-direction: column;
        padding: 0 24px;
        justify-content: center;
        align-items: center;
        margin-top: 192px;
        margin-bottom: 213px;

        @include xs {
            margin-top: 108px;
            margin-bottom: 181px;
        }

        h1 {
            margin-top: 32px;
            text-align: center;
            color: $black;

            @include sm {
                font-size: 3rem;
            }

            @include xs {
                font-size: 1.25rem;
                line-height: 2rem;
                letter-spacing: -0.04em;
            }
        }

        h3 {
            text-align: center;
            color: $black-60;

            @include xs {
                font-size: 1rem;
                font-family: "Objectivity-Regular";
                line-height: 1.25rem;
                letter-spacing: -0.02em;
            }
        }
    }
}
