.processes {
    &-head {
        @extend %flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 272px 147px 185px 147px;
        text-align: center;
        color: $black;

        @include xs {
            padding: 200px 24px 110px 24px;
        }

        span {
            color: $red;
        }

        h3 {
            margin-top: 40px;
            color: $black;

            @include xs {
                font-size: 1rem;
                line-height: 1.5rem;
                letter-spacing: -0.02em;
                margin-top: 16px;
                font-family: "Objectivity-Regular";
            }
        }

        h1 {
            @include xs {
                font-size: 2rem;
                line-height: 3rem;
                letter-spacing: -0.02em;
            }
        }
    }

    &-image {
        background-image: url("../../../img/build/processes/big-image.svg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 700px;

        @include xs {
            height: 557px;
        }
    }

    &-container {
        max-width: 1000px;
        margin: 0 auto;
        @extend %flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 200px;

        @include xs {
            max-width: 100%;
            width: 100%;
            margin: 0;
            margin-bottom: 160px;
        }

        .head {
            width: auto;
            margin-top: 150px;

            @include xs {
                margin-top: 121px;
                padding: 0 24px;
            }

            h2 {
                letter-spacing: -0.03em;
                color: $black;
                text-align: left;

                @include xs {
                    font-size: 1.25rem;
                    line-height: 2.25rem;
                    letter-spacing: -0.01em;
                }

                &:first-child {
                    color: $red;
                }
            }
        }

        .sub-content {
            max-width: 720px;
            margin: 0 auto;

            @include xs {
                width: 100%;
                margin: 0;
                padding: 0 24px;
            }

            h3 {
                font-family: "Objectivity-Regular";
                letter-spacing: 0.01em;
                line-height: 2.875rem;
                margin-top: 16px;
                text-align: center;
                color: $black;

                @include xs {
                    font-size: 1.125rem;
                    line-height: 2rem;
                    letter-spacing: 0.01em;
                }
            }
        }

        .sub-content.first {
            margin-top: 104px;
            h3 {
                text-align: left;
            }

            @include xs {
                margin-top: 48px;
                padding: 0 24px;
            }
        }

        .gallery {
            margin-top: 64px;
            @extend %flex;
            flex-direction: row;
            justify-content: center;

            @include xs {
                margin-top: 40px;
                overflow-x: scroll;
                width: 100%;
                justify-content: flex-start;
                padding-left: 24px;
            }

            @include sm {
                overflow-x: scroll;
                width: 100%;
                justify-content: flex-start;
                padding-left: 24px;
            }

            div {
                margin-right: 32px;

                &:last-child {
                    margin-right: 0;

                    @include xs {
                        padding-right: 24px;
                    }
                    @include sm {
                        padding-right: 24px;
                    }
                }

                img {
                    height: auto;

                    @include xs {
                        width: 240px;
                        height: auto;
                    }
                }

                h3 {
                    letter-spacing: -0.02em;
                    color: $black;
                    margin-top: 16px;

                    @include xs {
                        font-size: 1.25rem;
                        line-height: 2rem;
                        letter-spacing: -0.02em;
                        margin-top: 8px;
                        padding-right: 70px;
                    }
                }
            }
        }
    }
}
