/*
Colors
*/

$white:#FFFFFF;
$black:#262629;
$red: #E53617;
$blue: #175FE5;
$yellow: #F0C900;
$white-60: rgba(255, 255, 255, 0.6);
$light-grey: #F4F4F4;
$medium-grey: #C4C4C4;
$black-40: rgba(38, 38, 41, 0.4);
$white-10: #ffffff1a;
$white-40: rgba(255, 255, 255, 0.4);
$white-70: #ffffffb3;
$gray: #FAFAFA;
$black-16: rgba(0, 0, 0, 0.16);
$light-yellow: #FFFBE6;
$light-pink: #FDEBE8;
$black-60: #26262999;
$light-green: #50C1BA;
$white-60-50:rgba(255, 255, 255, 0.3);
$white-16: rgba(255, 255, 255, 0.16);
$medium-green: #00C4B4;
$blue-1: #F1F6FD;
$cream: #FEF3F1;
$green-1: #E8FDF1;
$yellow-1: #FFFBE5;
$cream-1: #FDF7F1;
$blue-2: #F1F8FE;
$white-20: rgba(255, 255, 255, 0.2);
$green-2: #0FC7BC;
$black-16: rgba(0, 0, 0, 0.16);
$white-80: rgba(255, 255, 255, 0.8);
$green-3: #E7F9F8;
$sky-blue: #88DBFF;
$blue-3: #01ABF2;
$main-black: #000000;
$purple: #8D2A8C
