@font-face {
  font-family: 'Objectivity-Black';
  src: url('../../../fonts/Objectivity-Black.woff2') format('woff2'),
  url('../../../fonts/Objectivity-Black.otf') format('truetype');
}

@font-face {
  font-family: 'Objectivity-BlackSlanted';
  src: url('../../../fonts/Objectivity-BlackSlanted.woff2') format('woff2'),
  url('../../../fonts/Objectivity-BlackSlanted.otf') format('truetype');
}

@font-face {
  font-family: 'Objectivity-Bold';
  src: url('../../../fonts/Objectivity-Bold.woff2') format('woff2'),
  url('../../../fonts/Objectivity-Bold.otf') format('truetype');
}

@font-face {
  font-family: 'Objectivity-BoldSlanted';
  src: url('../../../fonts/Objectivity-BoldSlanted.woff2') format('woff2'),
  url('../../../fonts/Objectivity-BoldSlanted.otf') format('truetype');
}

@font-face {
  font-family: 'Objectivity-ExtraBold';
  src: url('../../../fonts/Objectivity-ExtraBold.woff2') format('woff2'),
  url('../../../fonts/Objectivity-ExtraBold.otf') format('truetype');
}

@font-face {
  font-family: 'Objectivity-Light';
  src: url('../../../fonts/Objectivity-Light.woff2') format('woff2'),
  url('../../../fonts/Objectivity-Light.otf') format('truetype');
}

@font-face {
  font-family: 'Objectivity-Medium';
  src: url('../../../fonts/Objectivity-Medium.woff2') format('woff2'),
  url('../../../fonts/Objectivity-Medium.otf') format('truetype');
}

@font-face {
  font-family: 'Objectivity-Regular';
  src: url('../../../fonts/Objectivity-Regular.woff2') format('woff2'),
  url('../../../fonts/Objectivity-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Objectivity-Thin';
  src: url('../../../fonts/Objectivity-Thin.woff2') format('woff2'),
  url('../../../fonts/Objectivity-Thin.otf') format('truetype');
}
