//menu animations
@keyframes menuContainer {
    0% {
        width: 12.5%;
        height: 80px;
        padding: 0;
    }
    30% {
        width: 100%;
        height: 80px;
        padding: 0;
    }
    100% {
        width: 100%;
    }
}

@include xs {
    @keyframes menuContainer {
        0% {
            width: 0%;
            right: 0%;
            height: 56px;
            padding: 0;
        }
        30% {
            width: 100%;
            height: 56px;
            padding: 0;
        }
        100% {
            width: 100%;
        }
    }
}

@keyframes ham{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(45deg);
    }
}

@keyframes ham-anti{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(-45deg);
    }
}

@keyframes projects {
    0% {
        transform: translateX(200%);
    }

    50% {
        transform: translateX(100%);
        opacity: 0.5;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes social {
    0% {
        transform: translateY(100%);
        opacity: 0;
        display: none !important;
    }

    50% {
        transform: translateY(50%);
        opacity: 0;
    }

    80% {
        opacity: 0.5;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes vector-bottom {
    0% {
        opacity: 0;
        transform: rotate(-45deg);
    }

    50% {
        opacity: 0;
        transform: rotate(-45deg);
    }
    70% {
        opacity: 0.5;
        transform: rotate(-45deg);
    }

    100% {
        opacity: 1;
        transform: rotate(0);
    }
}

@keyframes vector-top {
    0% {
        opacity: 0;
        transform: rotate(-45deg);
        top: -100px;
    }

    50% {
        opacity: 0;
        transform: rotate(-45deg);
    }
    70% {
        opacity: 0.5;
        transform: rotate(-45deg);
    }

    100% {
        opacity: 1;
        transform: rotate(0);
    }
}

//floating vector on menu
@keyframes floating-vector-menu{
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 10px); }
    to   { transform: translate(0, -0px);}

}

//floating vector on pages
@keyframes floating-vector{
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 20px); }
    to   { transform: translate(0, -0px); }  
}

//slide of sections into viewport
.come-in {
    transform: translateY(300px);
    animation: come-in 1.8s ease forwards;
  }
  .already-visible {
    transform: translateY(0);
    animation: none;
  }
  
  @keyframes come-in {
    to { transform: translateY(0)}
  }
